# Data Import

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('microbiology_events_codes_3.csv')

In [3]:
df.columns

Index(['subject_id', 'hadm_id', 'chartdate', 'charttime', 'spec_type_desc',
       'test_name', 'org_name', 'ab_name', 'dilution_text',
       'dilution_comparison', 'dilution_value', 'interpretation',
       'technician_id', 'qc_flag'],
      dtype='object')

In [4]:
df

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,test_name,org_name,ab_name,dilution_text,dilution_comparison,dilution_value,interpretation,technician_id,qc_flag
0,10000980,26913865.0,2189-06-27 00:00:00,2189-06-27 10:52:00,MRSA SCREEN,MRSA SCREEN,NaN,NaN,NaN,NaN,NaN,NaN,TECH_063,QC_OK
1,10002155,23822395.0,2129-08-04 00:00:00,2129-08-04 17:04:00,MRSA SCREEN,MRSA SCREEN,NaN,NaN,NaN,NaN,NaN,NaN,TECH_095,QC_OK
2,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 15:54:00,URINE,Legionella Urinary Antigen,NaN,NaN,NaN,NaN,NaN,NaN,TECH_083,QC_OK
3,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 18:43:00,SPUTUM,GRAM STAIN,NaN,NaN,NaN,NaN,NaN,NaN,TECH_095,QC_OK
4,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 18:43:00,SPUTUM,RESPIRATORY CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,TECH_077,QC_OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15582,19997665,26052266.0,2173-11-09 00:00:00,2173-11-09 18:09:00,Staph aureus swab,Staph aureus Screen,NaN,NaN,NaN,NaN,NaN,NaN,TECH_051,QC_OK
15583,19997666,24256422.0,2168-08-03 00:00:00,2168-08-03 22:00:00,BLOOD CULTURE,"Blood Culture, Routine",NaN,NaN,NaN,NaN,NaN,NaN,TECH_086,QC_OK
15584,19997667,20372003.0,2144-09-21 00:00:00,2144-09-21 20:14:00,URINE,URINE CULTURE,PSEUDOMONAS AERUGINOSA,MEROPENEM,8,=,8.0,I,TECH_115,QC_FAIL
15585,19997668,20329436.0,2129-08-12 00:00:00,2129-08-12 15:56:00,CATHETER TIP-IV,WOUND CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,TECH_061,QC_OK
15586,19997669,28219199.0,2160-07-03 00:00:00,2160-07-03 15:39:00,URINE,URINE CULTURE,KLEBSIELLA PNEUMONIAE,TRIMETHOPRIM/SULFA,<=1,<=,1.0,S,TECH_083,QC_WARN

### Drop Column

In [5]:
# dropped_df = df.drop(columns=['subject_id', 'hadm_id', 'chartdate', 'charttime', 'technician_id'])
dropped_df = df.drop(columns=['dilution_text', 'dilution_comparison'])

In [6]:
# dropped_df.describe()

### Data Cleaning

##### Duplicates: Only 1 Duplicate found.

In [7]:
removed = dropped_df[dropped_df.duplicated(keep='first')]
df_cleaned = dropped_df.drop_duplicates(keep='first')

In [8]:
removed

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,test_name,org_name,ab_name,dilution_value,interpretation,technician_id,qc_flag
2455,11823798,23491105.0,2186-07-16 00:00:00,2186-07-16 00:25:00,BLOOD CULTURE,"Blood Culture, Routine",NaN,NaN,NaN,NaN,TECH_120,QC_OK

In [9]:
df_cleaned

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,test_name,org_name,ab_name,dilution_value,interpretation,technician_id,qc_flag
0,10000980,26913865.0,2189-06-27 00:00:00,2189-06-27 10:52:00,MRSA SCREEN,MRSA SCREEN,NaN,NaN,NaN,NaN,TECH_063,QC_OK
1,10002155,23822395.0,2129-08-04 00:00:00,2129-08-04 17:04:00,MRSA SCREEN,MRSA SCREEN,NaN,NaN,NaN,NaN,TECH_095,QC_OK
2,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 15:54:00,URINE,Legionella Urinary Antigen,NaN,NaN,NaN,NaN,TECH_083,QC_OK
3,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 18:43:00,SPUTUM,GRAM STAIN,NaN,NaN,NaN,NaN,TECH_095,QC_OK
4,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 18:43:00,SPUTUM,RESPIRATORY CULTURE,NaN,NaN,NaN,NaN,TECH_077,QC_OK
...,...,...,...,...,...,...,...,...,...,...,...,...
15582,19997665,26052266.0,2173-11-09 00:00:00,2173-11-09 18:09:00,Staph aureus swab,Staph aureus Screen,NaN,NaN,NaN,NaN,TECH_051,QC_OK
15583,19997666,24256422.0,2168-08-03 00:00:00,2168-08-03 22:00:00,BLOOD CULTURE,"Blood Culture, Routine",NaN,NaN,NaN,NaN,TECH_086,QC_OK
15584,19997667,20372003.0,2144-09-21 00:00:00,2144-09-21 20:14:00,URINE,URINE CULTURE,PSEUDOMONAS AERUGINOSA,MEROPENEM,8.0,I,TECH_115,QC_FAIL
15585,19997668,20329436.0,2129-08-12 00:00:00,2129-08-12 15:56:00,CATHETER TIP-IV,WOUND CULTURE,NaN,NaN,NaN,NaN,TECH_061,QC_OK
15586,19997669,28219199.0,2160-07-03 00:00:00,2160-07-03 15:39:00,URINE,URINE CULTURE,KLEBSIELLA PNEUMONIAE,TRIMETHOPRIM/SULFA,1.0,S,TECH_083,QC_WARN

##### Check for Whitespaces, Removing Whitespaces

In [10]:
# detect string columns
str_cols = df_cleaned.select_dtypes(include=['object']).columns
str_cols

Index(['chartdate', 'charttime', 'spec_type_desc', 'test_name', 'org_name',
       'ab_name', 'interpretation', 'technician_id', 'qc_flag'],
      dtype='object')

In [11]:
# show rows that will change
changed = df_cleaned[df_cleaned[str_cols].apply(lambda x: x != x.str.strip()).any(axis=1)]
# Modified rows before cleanup:
changed

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,test_name,org_name,ab_name,dilution_value,interpretation,technician_id,qc_flag
0,10000980,26913865.0,2189-06-27 00:00:00,2189-06-27 10:52:00,MRSA SCREEN,MRSA SCREEN,NaN,NaN,NaN,NaN,TECH_063,QC_OK
1,10002155,23822395.0,2129-08-04 00:00:00,2129-08-04 17:04:00,MRSA SCREEN,MRSA SCREEN,NaN,NaN,NaN,NaN,TECH_095,QC_OK
2,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 15:54:00,URINE,Legionella Urinary Antigen,NaN,NaN,NaN,NaN,TECH_083,QC_OK
3,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 18:43:00,SPUTUM,GRAM STAIN,NaN,NaN,NaN,NaN,TECH_095,QC_OK
4,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 18:43:00,SPUTUM,RESPIRATORY CULTURE,NaN,NaN,NaN,NaN,TECH_077,QC_OK
...,...,...,...,...,...,...,...,...,...,...,...,...
15579,19997662,29338106.0,2182-08-22 00:00:00,2182-08-22 09:09:00,URINE,Legionella Urinary Antigen,NaN,NaN,NaN,NaN,TECH_082,QC_OK
15581,19997664,25289714.0,2186-01-02 00:00:00,2186-01-02 03:40:00,MRSA SCREEN,MRSA SCREEN,NaN,NaN,NaN,NaN,TECH_049,QC_OK
15582,19997665,26052266.0,2173-11-09 00:00:00,2173-11-09 18:09:00,Staph aureus swab,Staph aureus Screen,NaN,NaN,NaN,NaN,TECH_051,QC_OK
15583,19997666,24256422.0,2168-08-03 00:00:00,2168-08-03 22:00:00,BLOOD CULTURE,"Blood Culture, Routine",NaN,NaN,NaN,NaN,TECH_086,QC_OK
15585,19997668,20329436.0,2129-08-12 00:00:00,2129-08-12 15:56:00,CATHETER TIP-IV,WOUND CULTURE,NaN,NaN,NaN,NaN,TECH_061,QC_OK

In [12]:
# clean whitespace
df_cleaned[str_cols] = df_cleaned[str_cols].apply(lambda x: x.str.strip())
df_cleaned

C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\732130453.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[str_cols] = df_cleaned[str_cols].apply(lambda x: x.str.strip())

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,test_name,org_name,ab_name,dilution_value,interpretation,technician_id,qc_flag
0,10000980,26913865.0,2189-06-27 00:00:00,2189-06-27 10:52:00,MRSA SCREEN,MRSA SCREEN,NaN,NaN,NaN,NaN,TECH_063,QC_OK
1,10002155,23822395.0,2129-08-04 00:00:00,2129-08-04 17:04:00,MRSA SCREEN,MRSA SCREEN,NaN,NaN,NaN,NaN,TECH_095,QC_OK
2,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 15:54:00,URINE,Legionella Urinary Antigen,NaN,NaN,NaN,NaN,TECH_083,QC_OK
3,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 18:43:00,SPUTUM,GRAM STAIN,NaN,NaN,NaN,NaN,TECH_095,QC_OK
4,10002155,23822395.0,2129-08-05 00:00:00,2129-08-05 18:43:00,SPUTUM,RESPIRATORY CULTURE,NaN,NaN,NaN,NaN,TECH_077,QC_OK
...,...,...,...,...,...,...,...,...,...,...,...,...
15582,19997665,26052266.0,2173-11-09 00:00:00,2173-11-09 18:09:00,Staph aureus swab,Staph aureus Screen,NaN,NaN,NaN,NaN,TECH_051,QC_OK
15583,19997666,24256422.0,2168-08-03 00:00:00,2168-08-03 22:00:00,BLOOD CULTURE,"Blood Culture, Routine",NaN,NaN,NaN,NaN,TECH_086,QC_OK
15584,19997667,20372003.0,2144-09-21 00:00:00,2144-09-21 20:14:00,URINE,URINE CULTURE,PSEUDOMONAS AERUGINOSA,MEROPENEM,8.0,I,TECH_115,QC_FAIL
15585,19997668,20329436.0,2129-08-12 00:00:00,2129-08-12 15:56:00,CATHETER TIP-IV,WOUND CULTURE,NaN,NaN,NaN,NaN,TECH_061,QC_OK
15586,19997669,28219199.0,2160-07-03 00:00:00,2160-07-03 15:39:00,URINE,URINE CULTURE,KLEBSIELLA PNEUMONIAE,TRIMETHOPRIM/SULFA,1.0,S,TECH_083,QC_WARN

#### Fix data types

##### Convert chartdate, charttime → datetime

In [13]:
df_cleaned['chartdate'] = pd.to_datetime(df_cleaned['chartdate'], errors='coerce')

C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\3127826706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['chartdate'] = pd.to_datetime(df_cleaned['chartdate'], errors='coerce')

##### Convert dilution_value → numeric (float)

In [14]:
df_cleaned['dilution_value'] = pd.to_numeric(df_cleaned['dilution_value'], errors='coerce')

C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\2342816491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['dilution_value'] = pd.to_numeric(df_cleaned['dilution_value'], errors='coerce')

##### Ensure categorical columns (spec_type_desc, test_name, interpretation) are strings.

In [15]:
import numpy as np

# Apply cleaning only to object (string) columns
for col in df_cleaned.select_dtypes(include=['object']).columns:
    df_cleaned[col] = (
        df_cleaned[col]
        .astype(str)  # ensure it's string
        .str.replace(r'\\xa0', ' ', regex=True)  # literal "\xa0"
        .str.replace(u'\xa0', ' ', regex=False)  # actual unicode non-breaking space
        .str.replace(r'[\t\n\r]+', ' ', regex=True)  # remove tabs/newlines
        .str.replace(r'[^\x00-\x7F]+', '', regex=True)  # remove non-ASCII
        .replace({'': np.nan})  # replace empty strings with NaN
    )

C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\2000720996.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[col] = (
C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\2000720996.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[col] = (
C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\2000720996.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[col] = (
C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\2000720996.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[col] = (
C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\2000720996.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[col] = (
C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\2000720996.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[col] = (
C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\2000720996.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[col] = (
C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\2000720996.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[col] = (

##### Convert Them All to Strings

In [16]:
categorical_cols = ['spec_type_desc', 'test_name', 'interpretation', 'org_name', 'technician_id', 'qc_flag']

for col in categorical_cols:
    if col in df_cleaned.columns:
        df_cleaned[col] = df_cleaned[col].astype('string').str.strip()

C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\1639186853.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[col] = df_cleaned[col].astype('string').str.strip()

##### Normalizing Case for Consistency

In [17]:
df_cleaned[categorical_cols] = df_cleaned[categorical_cols].apply(lambda x: x.str.upper())

C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\3116897606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned[categorical_cols] = df_cleaned[categorical_cols].apply(lambda x: x.str.upper())

## Rough Work

### Analysis Done

In [18]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15586 entries, 0 to 15586
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subject_id      15586 non-null  int64
 1   hadm_id         15586 non-null  float64
 2   chartdate       15586 non-null  datetime64[ns]
 3   charttime       15586 non-null  object
 4   spec_type_desc  15586 non-null  string
 5   test_name       15586 non-null  string
 6   org_name        15586 non-null  string
 7   ab_name         15586 non-null  object
 8   dilution_value  4711 non-null   float64
 9   interpretation  15586 non-null  string
 10  technician_id   15586 non-null  string
 11  qc_flag         15586 non-null  string
dtypes: datetime64[ns](1), float64(2), int64(1), object(2), string(6)
memory usage: 1.5+ MB

In [19]:
df_cleaned.describe(include='all')

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,test_name,org_name,ab_name,dilution_value,interpretation,technician_id,qc_flag
count,1.558600e+04,1.558600e+04,15586,15586,15586,15586,15586,15586,4711.000000,15586,15586,15586
unique,NaN,NaN,NaN,7709,42,90,83,28,NaN,4,120,3
top,NaN,NaN,NaN,2185-01-09 10:55:00,URINE,URINE CULTURE,NAN,nan,NaN,NAN,TECH_037,QC_OK
freq,NaN,NaN,NaN,34,4951,4795,10195,10766,NaN,10766,172,13235
mean,1.522120e+07,2.503479e+07,2155-02-04 12:15:25.753882624,NaN,NaN,NaN,NaN,NaN,7.062420,NaN,NaN,NaN
min,1.000098e+07,2.000790e+07,2110-02-15 00:00:00,NaN,NaN,NaN,NaN,NaN,0.060000,NaN,NaN,NaN
25%,1.266277e+07,2.266230e+07,2135-12-02 00:00:00,NaN,NaN,NaN,NaN,NaN,0.500000,NaN,NaN,NaN
50%,1.519823e+07,2.514649e+07,2155-08-21 00:00:00,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
75%,1.772189e+07,2.743116e+07,2174-10-09 18:00:00,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN
max,1.999767e+07,2.999967e+07,2209-12-20 00:00:00,NaN,NaN,NaN,NaN,NaN,512.000000,NaN,NaN,NaN
std,2.910205e+06,2.846429e+06,NaN,NaN,NaN,NaN,NaN,NaN,21.245298,NaN,NaN,NaN

##### Check for all string-looking empties across all columns

In [20]:
df_cleaned

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,test_name,org_name,ab_name,dilution_value,interpretation,technician_id,qc_flag
0,10000980,26913865.0,2189-06-27,2189-06-27 10:52:00,MRSA SCREEN,MRSA SCREEN,NAN,nan,NaN,NAN,TECH_063,QC_OK
1,10002155,23822395.0,2129-08-04,2129-08-04 17:04:00,MRSA SCREEN,MRSA SCREEN,NAN,nan,NaN,NAN,TECH_095,QC_OK
2,10002155,23822395.0,2129-08-05,2129-08-05 15:54:00,URINE,LEGIONELLA URINARY ANTIGEN,NAN,nan,NaN,NAN,TECH_083,QC_OK
3,10002155,23822395.0,2129-08-05,2129-08-05 18:43:00,SPUTUM,GRAM STAIN,NAN,nan,NaN,NAN,TECH_095,QC_OK
4,10002155,23822395.0,2129-08-05,2129-08-05 18:43:00,SPUTUM,RESPIRATORY CULTURE,NAN,nan,NaN,NAN,TECH_077,QC_OK
...,...,...,...,...,...,...,...,...,...,...,...,...
15582,19997665,26052266.0,2173-11-09,2173-11-09 18:09:00,STAPH AUREUS SWAB,STAPH AUREUS SCREEN,NAN,nan,NaN,NAN,TECH_051,QC_OK
15583,19997666,24256422.0,2168-08-03,2168-08-03 22:00:00,BLOOD CULTURE,"BLOOD CULTURE, ROUTINE",NAN,nan,NaN,NAN,TECH_086,QC_OK
15584,19997667,20372003.0,2144-09-21,2144-09-21 20:14:00,URINE,URINE CULTURE,PSEUDOMONAS AERUGINOSA,MEROPENEM,8.0,I,TECH_115,QC_FAIL
15585,19997668,20329436.0,2129-08-12,2129-08-12 15:56:00,CATHETER TIP-IV,WOUND CULTURE,NAN,nan,NaN,NAN,TECH_061,QC_OK
15586,19997669,28219199.0,2160-07-03,2160-07-03 15:39:00,URINE,URINE CULTURE,KLEBSIELLA PNEUMONIAE,TRIMETHOPRIM/SULFA,1.0,S,TECH_083,QC_WARN

In [35]:
df_cleaned.isnull().sum()

subject_id                    0
hadm_id                       0
chartdate                     0
charttime                     0
spec_type_desc                0
test_name                     0
org_name                      0
ab_name                       0
dilution_value            10875
interpretation                0
technician_id                 0
qc_flag                       0
interpretation_encoded        0
dtype: int64

##### Checking Subject id Duplicates

In [23]:
dic = {}
for i in df_cleaned['subject_id'].unique():
    if len(df_cleaned[df_cleaned['subject_id']==i])>1:
        # print(df[df['subject_id']==i].iloc[:, :3])
        dic[i] = len(df_cleaned[df_cleaned['subject_id']==i])

In [24]:
dict(sorted(dic.items(), key=lambda item: item[1], reverse= True))

{12492737: 122,
 13135946: 107,
 11204646: 89,
 15016682: 83,
 16571922: 73,
 12612603: 65,
 15094687: 64,
 19058876: 63,
 14383658: 61,
 17347569: 60,
 10274145: 56,
 19235707: 55,
 10297774: 54,
 10684958: 54,
 19615440: 53,
 13086918: 52,
 14861499: 52,
 18914188: 52,
 14023270: 51,
 16148712: 51,
 13408370: 50,
 13243522: 49,
 18257010: 48,
 19075045: 46,
 11504038: 44,
 13021449: 44,
 17660889: 44,
 12012265: 40,
 17857718: 39,
 19367944: 39,
 17725424: 38,
 18230098: 37,
 19270175: 36,
 14033331: 35,
 14363820: 35,
 16221250: 35,
 16762739: 35,
 19495094: 35,
 11684446: 34,
 15056680: 34,
 16261478: 34,
 19528617: 34,
 14640197: 33,
 15954569: 33,
 18912334: 33,
 10108435: 32,
 12172562: 32,
 13269747: 32,
 13537167: 32,
 15730033: 32,
 16218892: 32,
 16291750: 32,
 17738453: 32,
 15762152: 31,
 17486231: 31,
 18703566: 31,
 19324712: 31,
 10337761: 30,
 12654170: 30,
 15112972: 30,
 16047946: 30,
 17890530: 30,
 11281603: 29,
 11655439: 29,
 13297426: 29,
 17200755: 29,
 18271325: 29,
 19110715: 29,
 19819485: 29,
 13194394: 28,
 14678639: 28,
 15706668: 28,
 16071145: 28,
 17529653: 28,
 17697261: 28,
 17853271: 28,
 18049351: 28,
 19094808: 28,
 19926727: 28,
 19961611: 28,
 12526165: 27,
 12773009: 27,
 17721890: 27,
 19223560: 27,
 19851462: 27,
 10909653: 26,
 11192372: 26,
 11783844: 26,
 14422845: 26,
 15623806: 26,
 16697938: 26,
 16821694: 26,
 16856749: 26,
 16956482: 26,
 17089795: 26,
 17995948: 26,
 18677117: 26,
 19172819: 26,
 19343087: 26,
 11766333: 25,
 16544239: 25,
 18966399: 25,
 19604170: 25,
 11131318: 24,
 11372027: 24,
 11848398: 24,
 15434313: 24,
 16762272: 24,
 17521224: 24,
 19368849: 24,
 19863982: 24,
 10758974: 23,
 12427592: 23,
 12641004: 23,
 14358497: 23,
 14964949: 23,
 17311139: 23,
 18065146: 23,
 18905773: 23,
 10653589: 22,
 10985522: 22,
 11476759: 22,
 12401826: 22,
 12891467: 22,
 12951138: 22,
 14143482: 22,
 15630724: 22,
 17527219: 22,
 17686646: 22,
 11028216: 21,
 12148521: 21,
 12724206: 21,
 13442558: 21,
 13631349: 21,
 13709807: 21,
 14387504: 21,
 14717666: 21,
 14856789: 21,
 15273547: 21,
 15543971: 21,
 15650383: 21,
 15872093: 21,
 15874668: 21,
 15909117: 21,
 16586415: 21,
 17479653: 21,
 17481338: 21,
 18596968: 21,
 19605424: 21,
 10906758: 20,
 12598727: 20,
 12821625: 20,
 13184946: 20,
 15696371: 20,
 16917527: 20,
 17021161: 20,
 19992875: 20,
 10089244: 19,
 10947173: 19,
 11649885: 19,
 11783271: 19,
 12106117: 19,
 12399838: 19,
 13858048: 19,
 14116630: 19,
 14493463: 19,
 14909279: 19,
 15099380: 19,
 16260041: 19,
 19138211: 19,
 19818766: 19,
 19990821: 19,
 10244046: 18,
 10758368: 18,
 11325169: 18,
 12189285: 18,
 12439733: 18,
 13204322: 18,
 13550204: 18,
 14589313: 18,
 14842012: 18,
 15283025: 18,
 15906963: 18,
 15999575: 18,
 15999979: 18,
 16014534: 18,
 17077020: 18,
 18483564: 18,
 10104308: 17,
 10438951: 17,
 10581311: 17,
 11516270: 17,
 12037237: 17,
 12565064: 17,
 12632853: 17,
 12928397: 17,
 13483947: 17,
 14186957: 17,
 14208367: 17,
 14411691: 17,
 14657482: 17,
 15012696: 17,
 15126333: 17,
 15189838: 17,
 15208852: 17,
 15272000: 17,
 15471443: 17,
 15521468: 17,
 17001228: 17,
 17633133: 17,
 17771423: 17,
 18567594: 17,
 19024313: 17,
 19276413: 17,
 19997367: 17,
 10218214: 16,
 10867166: 16,
 10970125: 16,
 11326324: 16,
 11352800: 16,
 11531307: 16,
 11976443: 16,
 12052375: 16,
 12134533: 16,
 12252736: 16,
 12286091: 16,
 13575992: 16,
 14950396: 16,
 15380734: 16,
 16508811: 16,
 16514111: 16,
 16696377: 16,
 16919109: 16,
 17306642: 16,
 17504528: 16,
 17557396: 16,
 17688446: 16,
 18624005: 16,
 18748345: 16,
 19058509: 16,
 19352467: 16,
 19709667: 16,
 19914314: 16,
 10094805: 15,
 11172882: 15,
 11787958: 15,
 11955380: 15,
 12053896: 15,
 12100624: 15,
 12195625: 15,
 13155984: 15,
 13177098: 15,
 13310935: 15,
 13602379: 15,
 14269441: 15,
 14317182: 15,
 14567651: 15,
 14795382: 15,
 14997223: 15,
 15789257: 15,
 16175010: 15,
 16483028: 15,
 16843402: 15,
 16873672: 15,
 17613899: 15,
 17625908: 15,
 18552808: 15,
 18715288: 15,
 18810760: 15,
 18965721: 15,
 19245898: 15,
 19248072: 15,
 19631540: 15,
 19688142: 15,
 19702321: 15,
 10216097: 14,
 10438769: 14,
 10855229: 14,
 10957880: 14,
 11079862: 14,
 11189105: 14,
 11415965: 14,
 11735934: 14,
 11842194: 14,
 12160324: 14,
 12199249: 14,
 12673141: 14,
 12682844: 14,
 12738545: 14,
 13273685: 14,
 13687562: 14,
 13718173: 14,
 13816466: 14,
 14519712: 14,
 14593165: 14,
 14664889: 14,
 15710368: 14,
 15721956: 14,
 16474066: 14,
 16569455: 14,
 16950228: 14,
 17433851: 14,
 17733964: 14,
 17961321: 14,
 17975081: 14,
 18019593: 14,
 18247327: 14,
 18253112: 14,
 18253116: 14,
 18259917: 14,
 18382370: 14,
 18562936: 14,
 18571258: 14,
 18856400: 14,
 19053476: 14,
 19131436: 14,
 19141547: 14,
 19395583: 14,
 10124346: 13,
 10304606: 13,
 10779064: 13,
 11260506: 13,
 11268371: 13,
 11626997: 13,
 11899708: 13,
 11939677: 13,
 12298181: 13,
 12451556: 13,
 12637819: 13,
 12679486: 13,
 12712057: 13,
 12988799: 13,
 13000446: 13,
 13142678: 13,
 13361603: 13,
 13391729: 13,
 13941091: 13,
 13945948: 13,
 13973768: 13,
 14151718: 13,
 14355702: 13,
 14412339: 13,
 14462350: 13,
 14666079: 13,
 14749066: 13,
 14751479: 13,
 15219568: 13,
 15355207: 13,
 15824922: 13,
 16028682: 13,
 16246355: 13,
 16393829: 13,
 16693049: 13,
 16875792: 13,
 16917486: 13,
 16973455: 13,
 17069868: 13,
 17644567: 13,
 17885100: 13,
 18057037: 13,
 18202857: 13,
 19079316: 13,
 19212039: 13,
 19664783: 13,
 19759491: 13,
 10002155: 12,
 10364180: 12,
 10455855: 12,
 10538657: 12,
 10688510: 12,
 10802781: 12,
 11508679: 12,
 11643115: 12,
 11855128: 12,
 11928413: 12,
 11978698: 12,
 12468016: 12,
 12931519: 12,
 13014122: 12,
 13516147: 12,
 13835538: 12,
 14158360: 12,
 14265567: 12,
 14388050: 12,
 14404098: 12,
 14837844: 12,
 14895079: 12,
 15385889: 12,
 15441487: 12,
 15455450: 12,
 15476958: 12,
 15734047: 12,
 15856008: 12,
 15857729: 12,
 16253408: 12,
 16331109: 12,
 16335622: 12,
 16392858: 12,
 16825857: 12,
 17536222: 12,
 18067737: 12,
 18187740: 12,
 18567979: 12,
 18981374: 12,
 19532997: 12,
 19596157: 12,
 10109085: 11,
 10257550: 11,
 11250426: 11,
 11508828: 11,
 11568882: 11,
 11571159: 11,
 11823798: 11,
 12079467: 11,
 12426774: 11,
 12463286: 11,
 12634755: 11,
 13063188: 11,
 13229117: 11,
 13230656: 11,
 13552058: 11,
 13664731: 11,
 14010911: 11,
 14219343: 11,
 15360156: 11,
 15411028: 11,
 15659181: 11,
 15675092: 11,
 15744667: 11,
 15810762: 11,
 16025201: 11,
 16119864: 11,
 16289699: 11,
 17467683: 11,
 17562265: 11,
 17636587: 11,
 17671435: 11,
 17694801: 11,
 17895808: 11,
 17901292: 11,
 18030470: 11,
 18239495: 11,
 18452418: 11,
 18872394: 11,
 19012124: 11,
 19043685: 11,
 19136907: 11,
 19411951: 11,
 19789197: 11,
 10345163: 10,
 10525376: 10,
 10649541: 10,
 10802070: 10,
 10901396: 10,
 11549540: 10,
 11639209: 10,
 11698002: 10,
 11699868: 10,
 11812613: 10,
 12063035: 10,
 12086277: 10,
 12133655: 10,
 12223339: 10,
 12651710: 10,
 12662773: 10,
 12823962: 10,
 12892230: 10,
 12945423: 10,
 13680284: 10,
 13860785: 10,
 14066798: 10,
 14269711: 10,
 14496174: 10,
 14534578: 10,
 15383635: 10,
 15562994: 10,
 15835317: 10,
 15985786: 10,
 16013042: 10,
 16073006: 10,
 16073325: 10,
 16233087: 10,
 16406600: 10,
 16605962: 10,
 16613279: 10,
 16671440: 10,
 16722520: 10,
 16743211: 10,
 16898529: 10,
 16972873: 10,
 17180688: 10,
 17448708: 10,
 17616510: 10,
 17982428: 10,
 18024998: 10,
 18133319: 10,
 18364681: 10,
 18499078: 10,
 18533354: 10,
 18700359: 10,
 18818476: 10,
 19074757: 10,
 19358143: 10,
 19484359: 10,
 19527260: 10,
 19966553: 10,
 10359948: 9,
 10631298: 9,
 10653013: 9,
 11050347: 9,
 11249665: 9,
 11266938: 9,
 11356821: 9,
 11460066: 9,
 11598746: 9,
 11620485: 9,
 11719758: 9,
 11752489: 9,
 12078743: 9,
 12324099: 9,
 12495837: 9,
 12551878: 9,
 12849027: 9,
 12975635: 9,
 12987194: 9,
 13042648: 9,
 13192631: 9,
 13275144: 9,
 13282269: 9,
 13312360: 9,
 13500949: 9,
 13593993: 9,
 13694201: 9,
 13740010: 9,
 13892051: 9,
 13933090: 9,
 14252842: 9,
 14566798: 9,
 14976258: 9,
 15064546: 9,
 15115248: 9,
 15476879: 9,
 15490100: 9,
 15727523: 9,
 15864243: 9,
 16098031: 9,
 16293344: 9,
 16620992: 9,
 16626880: 9,
 16748155: 9,
 16773746: 9,
 16990881: 9,
 17047039: 9,
 17089080: 9,
 17193717: 9,
 17194158: 9,
 17245356: 9,
 17530622: 9,
 17738661: 9,
 18281543: 9,
 18281563: 9,
 18349557: 9,
 18352348: 9,
 18415241: 9,
 19344052: 9,
 19420195: 9,
 19522719: 9,
 10063534: 8,
 10109526: 8,
 10169726: 8,
 10639500: 8,
 10640977: 8,
 10684247: 8,
 10706377: 8,
 11581298: 8,
 11755038: 8,
 11803864: 8,
 11844664: 8,
 11941410: 8,
 11997596: 8,
 12251785: 8,
 12293804: 8,
 12370404: 8,
 12407111: 8,
 12528229: 8,
 12678659: 8,
 12724735: 8,
 13257820: 8,
 13278854: 8,
 13284345: 8,
 13466461: 8,
 13495406: 8,
 13509135: 8,
 13719402: 8,
 13731396: 8,
 13766606: 8,
 13789735: 8,
 13801937: 8,
 14017043: 8,
 14062965: 8,
 14089595: 8,
 14272250: 8,
 14323341: 8,
 14434596: 8,
 14450867: 8,
 14657386: 8,
 14961558: 8,
 14974026: 8,
 14992874: 8,
 14997789: 8,
 15274888: 8,
 15457168: 8,
 15605461: 8,
 15862403: 8,
 15924201: 8,
 16644826: 8,
 16675177: 8,
 16732638: 8,
 16826047: 8,
 16931796: 8,
 17015832: 8,
 17166860: 8,
 17255836: 8,
 17372569: 8,
 17454684: 8,
 17560668: 8,
 17876909: 8,
 17954271: 8,
 18039834: 8,
 18248254: 8,
 18341312: 8,
 18346065: 8,
 18693594: 8,
 18844748: 8,
 18991843: 8,
 19030532: 8,
 19038726: 8,
 19120111: 8,
 19537191: 8,
 19625808: 8,
 19705230: 8,
 19820806: 8,
 19954261: 8,
 10051074: 7,
 10055694: 7,
 10091871: 7,
 10669695: 7,
 10718572: 7,
 10815687: 7,
 11044484: 7,
 11242742: 7,
 11251419: 7,
 11264499: 7,
 11296936: 7,
 11338960: 7,
 11482525: 7,
 11651867: 7,
 11676649: 7,
 11710114: 7,
 11921391: 7,
 12072955: 7,
 12095714: 7,
 12143980: 7,
 12218250: 7,
 12221629: 7,
 12261942: 7,
 12297844: 7,
 12371520: 7,
 12394964: 7,
 12697000: 7,
 12726753: 7,
 12875526: 7,
 13035993: 7,
 13105851: 7,
 13115645: 7,
 13322583: 7,
 13374896: 7,
 13552589: 7,
 13673478: 7,
 13813219: 7,
 13962573: 7,
 14102849: 7,
 14178020: 7,
 14350300: 7,
 14360457: 7,
 14454403: 7,
 14529372: 7,
 14553780: 7,
 14762960: 7,
 14829750: 7,
 14865887: 7,
 15166765: 7,
 15198228: 7,
 15216917: 7,
 15612556: 7,
 15660619: 7,
 15919557: 7,
 16081918: 7,
 16176380: 7,
 16217426: 7,
 16223079: 7,
 16246903: 7,
 16360107: 7,
 16520549: 7,
 16580488: 7,
 16815101: 7,
 16818244: 7,
 16898525: 7,
 17038863: 7,
 17116674: 7,
 17358740: 7,
 17405316: 7,
 17409564: 7,
 17523078: 7,
 17578031: 7,
 17719380: 7,
 18014090: 7,
 18387406: 7,
 18401709: 7,
 18412738: 7,
 18419056: 7,
 18443931: 7,
 18727964: 7,
 18731959: 7,
 18772209: 7,
 18892124: 7,
 18976221: 7,
 19276481: 7,
 19344719: 7,
 19362116: 7,
 19499121: 7,
 19509694: 7,
 19676519: 7,
 19786108: 7,
 19997293: 7,
 10193428: 6,
 10345771: 6,
 10394761: 6,
 10586946: 6,
 10625068: 6,
 10745249: 6,
 10801908: 6,
 10918768: 6,
 10931276: 6,
 11209039: 6,
 11227224: 6,
 11278050: 6,
 11387455: 6,
 11680360: 6,
 11723660: 6,
 11760589: 6,
 12008763: 6,
 12708291: 6,
 12789053: 6,
 12836888: 6,
 13052791: 6,
 13542461: 6,
 13557341: 6,
 13767908: 6,
 13777634: 6,
 14187001: 6,
 14497592: 6,
 14517129: 6,
 15038651: 6,
 15113309: 6,
 15166228: 6,
 15606311: 6,
 15683514: 6,
 15805062: 6,
 15824435: 6,
 16045829: 6,
 16103537: 6,
 16372136: 6,
 16445453: 6,
 16445612: 6,
 16885658: 6,
 17209507: 6,
 17239380: 6,
 17300043: 6,
 17316172: 6,
 17390272: 6,
 17478204: 6,
 17533213: 6,
 17551878: 6,
 17571541: 6,
 17821267: 6,
 18046498: 6,
 18083755: 6,
 18187609: 6,
 18208434: 6,
 18297386: 6,
 18319753: 6,
 18719972: 6,
 18810350: 6,
 18814214: 6,
 18826099: 6,
 19054240: 6,
 19252302: 6,
 19418675: 6,
 19427735: 6,
 19540062: 6,
 19676805: 6,
 19867560: 6,
 19959499: 6,
 10092171: 5,
 10188275: 5,
 10237677: 5,
 10242353: 5,
 10271338: 5,
 10287678: 5,
 10496705: 5,
 10841600: 5,
 11043981: 5,
 11095636: 5,
 11123733: 5,
 11143932: 5,
 11172056: 5,
 11173428: 5,
 11495932: 5,
 11533860: 5,
 11765121: 5,
 11999232: 5,
 12069575: 5,
 12113804: 5,
 12137352: 5,
 12146647: 5,
 12175593: 5,
 12191004: 5,
 12405224: 5,
 12614156: 5,
 12741325: 5,
 12931038: 5,
 13043387: 5,
 13186016: 5,
 13193330: 5,
 13312931: 5,
 13415723: 5,
 13466358: 5,
 13495822: 5,
 13749560: 5,
 13806944: 5,
 13890112: 5,
 14071274: 5,
 14164034: 5,
 14195695: 5,
 14261784: 5,
 14308653: 5,
 14523947: 5,
 14610106: 5,
 14666065: 5,
 14679533: 5,
 14832062: 5,
 14839423: 5,
 14922718: 5,
 15033599: 5,
 15197842: 5,
 15333376: 5,
 15489940: 5,
 15545526: 5,
 15570915: 5,
 15795108: 5,
 15984380: 5,
 16055653: 5,
 16131803: 5,
 16148235: 5,
 16246660: 5,
 16365542: 5,
 16523690: 5,
 16653153: 5,
 16842594: 5,
 17023312: 5,
 17077306: 5,
 17288844: 5,
 17399295: 5,
 17400716: 5,
 17416292: 5,
 17443481: 5,
 17680002: 5,
 17794301: 5,
 17895191: 5,
 18193043: 5,
 18224710: 5,
 18329906: 5,
 18344237: 5,
 18411266: 5,
 18459513: 5,
 18734414: 5,
 18755478: 5,
 19097239: 5,
 19166723: 5,
 19259478: 5,
 19270996: 5,
 19289869: 5,
 19654967: 5,
 19661523: 5,
 19662541: 5,
 19781816: 5,
 19795930: 5,
 19797689: 5,
 19952398: 5,
 10055344: 4,
 10065057: 4,
 10076616: 4,
 10093609: 4,
 10124367: 4,
 10127936: 4,
 10188935: 4,
 10201578: 4,
 10231100: 4,
 10233845: 4,
 10259667: 4,
 10363534: 4,
 10398209: 4,
 10561929: 4,
 10573359: 4,
 10747985: 4,
 10783512: 4,
 10874416: 4,
 10914662: 4,
 10951680: 4,
 10956814: 4,
 11115877: 4,
 11156530: 4,
 11178609: 4,
 11356412: 4,
 11422163: 4,
 11533366: 4,
 11569042: 4,
 11594544: 4,
 11619706: 4,
 11658100: 4,
 11767260: 4,
 11782912: 4,
 11890585: 4,
 11891099: 4,
 11898895: 4,
 11922884: 4,
 11959580: 4,
 12084001: 4,
 12128845: 4,
 12250221: 4,
 12280016: 4,
 12339843: 4,
 12347941: 4,
 12527107: 4,
 12585868: 4,
 12601251: 4,
 12636277: 4,
 12648688: 4,
 12756901: 4,
 12769839: 4,
 12889749: 4,
 12889874: 4,
 12953566: 4,
 12982628: 4,
 12986731: 4,
 13037313: 4,
 13073052: 4,
 13157094: 4,
 13244698: 4,
 13277770: 4,
 13294416: 4,
 13413967: 4,
 13512842: 4,
 13513868: 4,
 13516267: 4,
 13606156: 4,
 13752571: 4,
 13835259: 4,
 13845034: 4,
 14006097: 4,
 14022439: 4,
 14026784: 4,
 14096194: 4,
 14237028: 4,
 14268566: 4,
 14344105: 4,
 14345885: 4,
 14423115: 4,
 14454179: 4,
 14500691: 4,
 14615316: 4,
 14622418: 4,
 14671573: 4,
 14867461: 4,
 15035666: 4,
 15143785: 4,
 15170542: 4,
 15211758: 4,
 15377158: 4,
 15382919: 4,
 15462072: 4,
 15481590: 4,
 15569663: 4,
 15728619: 4,
 15741808: 4,
 15757279: 4,
 15758496: 4,
 15775412: 4,
 15964248: 4,
 ...}

In [25]:
df_cleaned[df_cleaned['subject_id']==11823798]

,subject_id,hadm_id,chartdate,charttime,spec_type_desc,test_name,org_name,ab_name,dilution_value,interpretation,technician_id,qc_flag
2452,11823798,23491105.0,2186-07-14,2186-07-14 16:54:00,URINE,URINE CULTURE,NAN,nan,NaN,NAN,TECH_005,QC_OK
2453,11823798,23491105.0,2186-07-14,2186-07-14 16:55:00,STAPH AUREUS SWAB,STAPH AUREUS SCREEN,NAN,nan,NaN,NAN,TECH_050,QC_OK
2454,11823798,23491105.0,2186-07-16,2186-07-16 00:25:00,BLOOD CULTURE,"BLOOD CULTURE, ROUTINE",NAN,nan,NaN,NAN,TECH_120,QC_OK
2456,11823798,23491105.0,2186-07-16,2186-07-16 00:47:00,URINE,URINE CULTURE,NAN,nan,NaN,NAN,TECH_058,QC_OK
2457,11823798,23491105.0,2186-07-20,2186-07-20 17:56:00,URINE,URINE CULTURE,NAN,nan,NaN,NAN,TECH_065,QC_OK
2458,11823798,23491105.0,2186-07-24,2186-07-24 12:08:00,URINE,URINE CULTURE,ENTEROCOCCUS SP.,AMPICILLIN,2.0,S,TECH_008,QC_OK
2459,11823798,23491105.0,2186-07-24,2186-07-24 12:08:00,URINE,URINE CULTURE,ENTEROCOCCUS SP.,NITROFURANTOIN,16.0,S,TECH_069,QC_OK
2460,11823798,23491105.0,2186-07-24,2186-07-24 12:08:00,URINE,URINE CULTURE,ENTEROCOCCUS SP.,TETRACYCLINE,16.0,R,TECH_033,QC_WARN
2461,11823798,23491105.0,2186-07-24,2186-07-24 12:08:00,URINE,URINE CULTURE,ENTEROCOCCUS SP.,VANCOMYCIN,1.0,S,TECH_023,QC_OK
2462,11823798,23491105.0,2186-07-24,2186-07-24 13:00:00,BLOOD CULTURE,"BLOOD CULTURE, ROUTINE",NAN,nan,NaN,NAN,TECH_031,QC_OK
2463,11823798,23491105.0,2186-07-24,2186-07-24 13:20:00,BLOOD CULTURE,"BLOOD CULTURE, ROUTINE",NAN,nan,NaN,NAN,TECH_009,QC_OK

In [26]:
df_cleaned['spec_type_desc'].value_counts()

spec_type_desc
URINE                                                       4951
BLOOD CULTURE                                               3375
SPUTUM                                                      1847
MRSA SCREEN                                                 1241
STAPH AUREUS SWAB                                            645
PLEURAL FLUID                                                618
STOOL                                                        581
FLUID,OTHER                                                  449
SWAB                                                         344
TISSUE                                                       206
SEROLOGY/BLOOD                                               161
FLUID RECEIVED IN BLOOD CULTURE BOTTLES                      123
CATHETER TIP-IV                                              113
BLOOD (EBV)                                                  112
BRONCHOALVEOLAR LAVAGE                                       107
RAPID RESPIRATORY VIRAL SCREEN & CULTURE                     102
INFLUENZA A/B BY DFA                                          86
BLOOD (CMV AB)                                                86
BLOOD CULTURE ( MYCO/F LYTIC BOTTLE)                          53
MINI-BAL                                                      49
IMMUNOLOGY                                                    46
BRONCHIAL WASHINGS                                            39
PERITONEAL FLUID                                              36
DIALYSIS FLUID                                                34
ABSCESS                                                       34
JOINT FLUID                                                   31
IMMUNOLOGY (CMV)                                              27
BLOOD (TOXO)                                                  24
BLOOD (LYME)                                                  14
CSF;SPINAL FLUID                                              10
FOREIGN BODY                                                   8
EAR                                                            6
THROAT FOR STREP                                               6
SKIN SCRAPINGS                                                 5
BRONCHIAL BRUSH                                                4
THROAT CULTURE                                                 3
BILE                                                           3
DIRECT ANTIGEN TEST FOR VARICELLA-ZOSTER VIRUS                 2
ASPIRATE                                                       2
DIRECT ANTIGEN TEST FOR HERPES SIMPLEX VIRUS TYPES 1 & 2       1
CRE SCREEN                                                     1
STOOL (RECEIVED IN TRANSPORT SYSTEM)                           1
Name: count, dtype: Int64

In [27]:
df_cleaned['ab_name'].value_counts()

ab_name
nan                     10766
GENTAMICIN                453
TRIMETHOPRIM/SULFA        389
TOBRAMYCIN                287
CEFTAZIDIME               285
CIPROFLOXACIN             284
MEROPENEM                 283
CEFEPIME                  282
NITROFURANTOIN            261
CEFTRIAXONE               248
PIPERACILLIN/TAZO         223
AMPICILLIN                206
AMPICILLIN/SULBACTAM      201
CEFAZOLIN                 197
TETRACYCLINE              186
LEVOFLOXACIN              173
OXACILLIN                 171
VANCOMYCIN                169
ERYTHROMYCIN              153
CLINDAMYCIN               146
RIFAMPIN                   57
PIPERACILLIN               41
CEFUROXIME                 36
PENICILLIN G               35
AMIKACIN                   27
LINEZOLID                  14
IMIPENEM                    9
DAPTOMYCIN                  4
Name: count, dtype: int64

In [28]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

# Fit and transform the 'color' column
df_cleaned['interpretation_encoded'] = encoder.fit_transform(df_cleaned['interpretation'])

C:\Users\Divya Shah\AppData\Local\Temp\ipykernel_19416\3461992332.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['interpretation_encoded'] = encoder.fit_transform(df_cleaned['interpretation'])

In [29]:
df_cleaned['interpretation'].dropna()

0        NAN
1        NAN
2        NAN
3        NAN
4        NAN
        ...
15582    NAN
15583    NAN
15584      I
15585    NAN
15586      S
Name: interpretation, Length: 15586, dtype: string

In [30]:
df_cleaned['interpretation_encoded'].dropna()

0        1
1        1
2        1
3        1
4        1
        ..
15582    1
15583    1
15584    0
15585    1
15586    3
Name: interpretation_encoded, Length: 15586, dtype: int32

In [31]:
df_cleaned['dilution_value'].corr(df_cleaned['interpretation_encoded'])

-0.3733898243108889